<span id="moon" class="moon"></span>
<span id="moon0" class="moon"></span>
<span class="star" style="top:12%;left:42%"></span>
<span class="star" style="top:22%;left:12%"></span>
<span class="star" style="top:32%;left:32%"></span>
<span class="star" style="top:42%;left:92%"></span>
<span class="star" style="top:52%;left:12%"></span>
<span class="star" style="top:62%;left:72%"></span>
<span class="star" style="top:72%;left:82%"></span>
<span class="star" style="top:82%;left:32%"></span>
<span class="star" style="top:72%;left:61%"></span>
<span class="star" style="top:54%;left:56%"></span>
<span class="star" style="top:61%;left:18%"></span>
<span class="star" style="top:55%;left:07%"></span>
<span class="star" style="top:27%;left:41%"></span>