<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="icon" href="../../assets/images/favicon.svg" />
	<link rel="stylesheet" href="../../assets/css/fonts.css" />
	<link rel="stylesheet" href="../../assets/css/style.css" />
	{% include "_seo.njk" %}
</head>

<body>
    
<!-- HEADER / NAVIGATION / PAGE BACKGROUND-->
<header class="top">
    <div id="nav__group" class="head">
        <a href="../index.html">Blog</a>
        <a href="../../index.html">Home&#x2197;</a>
    </div>
</header>

{% include "_background.njk" %}

<!-- MAIN -->
<main>
    <article>
		<h1 class="post__title">{{ title }}</h1>
		<img class="post__image" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}"/>
		<span class="post__date">{{ date.toDateString() }}</span>
		<div>by {{ author }}</div>
    	<div class="post__text">{{ content | safe }}</div>
	</article>
</main>

<!-- FOOTER -->
<footer>
{% include "./_footer.njk" %}
</footer>

</body>
</html>